

table, th, td {
    border: 1px solid black;
  }

.tblHeader {
    background-color: rgb(143, 201, 143);

}

#hdrUser {
    width: 200px
}

#hdrText {
    width: 500px
}

#btnAdd {
    color: white; 
    border-radius: 25px; 
    width: 50px; 
    height:50px; 
    background-image: linear-gradient(rgb(50, 66, 156), rgb(19, 124, 245));
}

.btnEdit {
    background-color: green;
    color: white;
    width: 25px;
}

.btnDelete {
    background-color: red;
    width: 25px;
}